.Doors {
    background-image: url('./three-doors.jpeg');
    background-repeat: no-repeat;
    height: 651px;
    background-position: center;
    background-color: black;
}

.notScary {
    position: relative;
    width: 240px; 
    height: 520px;
    left: -70px;
    top: 80px;
    display: inline-block;
    }
  
    
  .scary{
      position: relative;
      width: 240px; 
      height: 520px;
      left: 0px;
      top: 80px;
      display: inline-block;
    }
  
  .veryScary {
    position: relative;
      width: 240px; 
      height: 520px;
      left: 75px;
      top: 80px;
      display: inline-block;
  }