.notScary {
    position: absolute;
    width: 240px; 
    height: 520px;
    left: 220px;
    top: 80px;
    }
  
    
  .scary{
      position: absolute;
      width: 240px; 
      height: 520px;
      left: 530px;
      top: 80px;
    }
  
  .veryScary {
      position: absolute;
      width: 240px; 
      height: 520px;
      left: 840px;
      top: 80px;
  }